<div class="mt-2">
  <form method="POST" class="row g-3" action="/tintuc">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" name="q" class="form-control" id="inputEmail4" />

      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>